<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <center>
        <form method="post" action="/login" th:object="${loginForm}">
            Login: <input type="text" th:field="*{login}" placeholder="Login"/>
            <br/>
            Hasło: <input type="password" th:field="*{password}" placeholder="Hasło"/>
            <br/>
            <input type="submit" value="Zaloguj się">
        </form>
    </center>
</body>
</html>