<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <span th:if="${isValidRegister != null}" th:text="${isValidRegister} ? 'Zarejestowano!' : 'Bledne dane'"></span>

    <br/>

    <form th:if="${isValidRegister == null or isValidRegister != true}" th:object="${registerForm}" method="post" action="/register">
        Login: <input type="text" th:field="*{login}" placeholder="Login"/>
        <br/>
        Hasło: <input type="password" th:field="*{password}" placeholder="Hasło"/>
        <br/>
        Powtórz hasło: <input type="password" th:field="*{passwordRepeat}" placeholder="Powtórz hasło"/>
        <br/>
        Email: <input type="email" th:field="*{email}" placeholder="Email"/>
        <br/>
        <input type="submit" value="Zaloguj się">
    </form>
</center>
</body>
</html>